@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  /* colors  */
  /* primary */
  --white: hsl(0, 0%, 100%);
  --bright-blue: hsl(220, 98%, 61%);
  /* - Check Background: linear-gradient --bright-green to --purple-pink*/
  --bright-green: hsl(192, 100%, 67%);
  --purple-pink: hsl(280, 87%, 65%);

  /* dark theme */
  --img-bg: url("./images/bg-desktop-dark.jpg");
  --body-bg: hsl(235, 21%, 11%);
  --text-color: #c8cae1;
  --card-bg: hsl(235, 24%, 19%);
  --placeholder-color: hsl(233, 14%, 35%);

  --light-grayish-blue: hsl(234, 39%, 85%);
  /* --dark-grayish-blue: hsl(234, 11%, 52%); */
  /* --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%); */

  /* other */
  --box-shadow: hsl(0, 0%, 0%, 0.1);
  --fw-normal: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: var(--fw-normal);
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  margin: auto;
  padding-top: 5rem;
  width: min(85%, 30rem);
  background-color: var(--body-bg);
  background-image: var(--img-bg);
  background-repeat: no-repeat;
  background-size: 100vw 42vh;
  color: var(--text-color);
}

body * {
  transition: 0.3s;
}

ul {
  list-style: none;
}

input,
button {
  font: inherit;
  border: 0;
  background: transparent;
  color: var(--text-color);
}

input:focus,
button:focus {
  outline: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

header .dark-theme {
  display: none;
}

header h1 {
  color: var(--white);
  letter-spacing: 1.3rem;
  font-weight: var(--fw-bold);
  font-size: 36px;
}

/* add */
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  /* background: transparent; */
  padding: 1rem 1.2rem;
  align-items: flex-start;
  height: 3.5rem;
  background-color: var(--card-bg);
  border-top: 1px solid var(--placeholder-color);
}

.add {
  margin: 1rem 0;
  border-radius: 0.3rem;
}

.add button {
  /* padding: 1rem; */
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--placeholder-color);
  cursor: pointer;
}

.add button i {
  display: none;
}

.add button:hover i {
  display: block;
}

.txt-container {
  flex: 1;
}

.txt-container input {
  width: 100%;
  font-size: 18px;
}

.txt-container input::placeholder {
  color: var(--placeholder-color);
}
/* list */
.todos,
.stats,
.m-filter {
  /* box-shadow: 0 0 2rem 0.4rem var(--box-shadow); */
  box-shadow: 0 2rem 3rem -0.5rem var(--box-shadow);
  /* box-shadow: 14px 14px 32px -8px rgba(150,140,140,0.7); */
  /* box-shadow: 0px 11px 66px 2px rgba(150,140,140,0.82); */
  /* box-shadow: 0px 11px 71px 3px rgba(229,228,236,1); */
  /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5) */
}
.todo-item {
  justify-content: space-between;
}
.todo,
.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.fa {
  margin-top: 0.3rem;
  cursor: pointer;
  color: var(--placeholder-color);
}
.fa:hover {
  color: var(--very-light-grayish-blue);
}
.fa-pencil {
  font-size: 14px;
}
.todo-item:hover .fa {
  display: block;
}

.todos .card:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] ~ label {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--placeholder-color);
  border-radius: 50%;
  cursor: pointer;
}
input[type="checkbox"] ~ label:hover {
  border: 1px solid var(--purple-pink);
  /* border-image: linear-gradient(var(--bright-green), var(--purple-pink)) 30;
  border-width: 1px;
  border-style: solid; */
}
input[type="checkbox"]:checked ~ label {
  background: url(./images/icon-check.svg),
    linear-gradient(135deg, var(--bright-green) 0, var(--purple-pink));
  background-repeat: no-repeat;
  background-position: center;
}
input[type="checkbox"]:checked ~ p {
  text-decoration: line-through;
  color: var(--placeholder-color);
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 3rem;
  color: var(--placeholder-color);
  border-radius: 0 0 0.3rem 0.3rem;
}

.m-filter {
  display: flex;
  justify-content: center;
  height: 3rem;
  font-size: 14px;
  font-weight: var(--fw-bold);
  margin-top: 1rem;
  border: none;
  border-radius: 0.3rem;
}

.stats button,
.m-filter button {
  color: var(--placeholder-color);
  cursor: pointer;
}
.stats button:hover,
.m-filter button:hover {
  color: var(--text-color);
}
.stats .active,
.m-filter .active {
  color: var(--bright-blue) !important;
}

.filter {
  display: none;
  font-weight: var(--fw-bold);
}

footer {
  margin: 3rem 0;
  text-align: center;
  color: var(--placeholder-color);
  font-size: 14px;
}

@media (min-width: 480px) {
  .m-filter {
    display: none;
  }
  .filter {
    display: block;
  }
  .fa {
    display: none;
  }
}

.dragging {
  opacity: 0.6;
}
